Examination/BankChallan/BANKSTUDCOPY.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="BANKSTUDCOPY" targetNamespace="http://tempuri.org/BANKSTUDCOPY.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/BANKSTUDCOPY.xsd" xmlns:mstns="http://tempuri.org/BANKSTUDCOPY.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BANKSTUDENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ADMNO" type="xs:string" />
				<xs:element name="STUNAME" type="xs:string" />
				<xs:element name="FNAME" type="xs:string" />
				<xs:element name="COURSE" type="xs:string" />
				<xs:element name="YEAR" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>